nav {
  background-color: rgb(215, 75, 98);
  /* display: flex;
  justify-self: center;
  align-items: center; */
  color: white;
  text-align: center;
  margin: 10px 0px 10px 10px;
  border-radius: 9px;
  padding-bottom: 0px;
}
